@font-face {
	font-family: 'sinoUI';
	src:url('fonts/sinoUI.eot?-aovrtd');
	src:url('fonts/sinoUI.eot?#iefix-aovrtd') format('embedded-opentype'),
		url('fonts/sinoUI.ttf?-aovrtd') format('truetype'),
		url('fonts/sinoUI.woff?-aovrtd') format('woff'),
		url('fonts/sinoUI.svg?-aovrtd#sinoUI') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sui-icon-"], [class*=" sui-icon-"] {
	font-family: 'sinoUI';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sui-icon-save3:before {
	content: "\e6e5";
}
.sui-icon-save-full:before {
	content: "\e6e6";
}
.sui-icon-email2:before {
	content: "\e6e3";
}
.sui-icon-email-full:before {
	content: "\e6e4";
}
.sui-icon-delete3:before {
	content: "\e6e1";
}
.sui-icon-delete-full:before {
	content: "\e6e2";
}
.sui-icon-minus-circle:before {
	content: "\e62f";
}
.sui-icon-minus-outline:before {
	content: "\e631";
}
.sui-icon-plus-circle:before {
	content: "\e697";
}
.sui-icon-plus-outline:before {
	content: "\e69a";
}
.sui-icon-ok-circle:before {
	content: "\e6e0";
}
.sui-icon-ok-outline:before {
	content: "\e627";
}
.sui-icon-flag2:before {
	content: "\e629";
}
.sui-icon-share2:before {
	content: "\e62b";
}
.sui-icon-reply2:before {
	content: "\e62d";
}
.sui-icon-disk:before {
	content: "\e623";
}
.sui-icon-folder2:before {
	content: "\e625";
}
.sui-icon-man:before {
	content: "\e621";
}
.sui-icon-map-direction:before {
	content: "\e61d";
}
.sui-icon-write:before {
	content: "\e61f";
}
.sui-icon-home2:before {
	content: "\e900";
}
.sui-icon-home3:before {
	content: "\e902";
}
.sui-icon-todolist:before {
	content: "\e922";
}
.sui-icon-profile:before {
	content: "\e923";
}
.sui-icon-directory:before {
	content: "\e92f";
}
.sui-icon-directory-open:before {
	content: "\e930";
}
.sui-icon-barcode:before {
	content: "\e937";
}
.sui-icon-qrcode:before {
	content: "\e938";
}
.sui-icon-drawer:before {
	content: "\e95c";
}
.sui-icon-drawer2:before {
	content: "\e95d";
}
.sui-icon-download:before {
	content: "\e960";
}
.sui-icon-save2:before {
	content: "\e962";
}
.sui-icon-undo2:before {
	content: "\e967";
}
.sui-icon-redo2:before {
	content: "\e968";
}
.sui-icon-forward2:before {
	content: "\e969";
}
.sui-icon-reply3:before {
	content: "\e96a";
}
.sui-icon-chat2:before {
	content: "\e96c";
}
.sui-icon-user:before {
	content: "\e971";
}
.sui-icon-users:before {
	content: "\e972";
}
.sui-icon-user-plus:before {
	content: "\e973";
}
.sui-icon-user-minus:before {
	content: "\e974";
}
.sui-icon-spinner:before {
	content: "\e97a";
}
.sui-icon-spinner2:before {
	content: "\e97b";
}
.sui-icon-spinner3:before {
	content: "\e97c";
}
.sui-icon-spinner4:before {
	content: "\e97d";
}
.sui-icon-spinner5:before {
	content: "\e97e";
}
.sui-icon-spinner6:before {
	content: "\e97f";
}
.sui-icon-spinner7:before {
	content: "\e980";
}
.sui-icon-spinner8:before {
	content: "\e981";
}
.sui-icon-spinner9:before {
	content: "\e982";
}
.sui-icon-spinner10:before {
	content: "\e983";
}
.sui-icon-spinner11:before {
	content: "\e984";
}
.sui-icon-delete2:before {
	content: "\e9ac";
}
.sui-icon-delete22:before {
	content: "\e9ad";
}
.sui-icon-tree:before {
	content: "\e9bc";
}
.sui-icon-mark:before {
	content: "\e9cc";
}
.sui-icon-paperclip:before {
	content: "\e9cd";
}
.sui-icon-plus:before {
	content: "\ea0a";
}
.sui-icon-minus:before {
	content: "\ea0b";
}
.sui-icon-cross:before {
	content: "\ea0f";
}
.sui-icon-checkmark:before {
	content: "\ea10";
}
.sui-icon-arrow-up:before {
	content: "\ea32";
}
.sui-icon-arrow-down:before {
	content: "\ea36";
}
.sui-icon-circle-up:before {
	content: "\ea41";
}
.sui-icon-circle-right:before {
	content: "\ea42";
}
.sui-icon-circle-down:before {
	content: "\ea43";
}
.sui-icon-circle-left:before {
	content: "\ea44";
}
.sui-icon-apple:before {
	content: "\eabf";
}
.sui-icon-android:before {
	content: "\eac1";
}
.sui-icon-windows:before {
	content: "\eac2";
}
.sui-icon-html5:before {
	content: "\eadf";
}
.sui-icon-html52:before {
	content: "\eae0";
}
.sui-icon-chrome:before {
	content: "\eae5";
}
.sui-icon-firefox:before {
	content: "\eae6";
}
.sui-icon-ie:before {
	content: "\eae7";
}
.sui-icon-opera:before {
	content: "\eae8";
}
.sui-icon-safari:before {
	content: "\eae9";
}
.sui-icon-checkbox-checked:before {
	content: "\e602";
}
.sui-icon-checkbox-unchecked:before {
	content: "\e603";
}
.sui-icon-indeter-checkbox:before {
	content: "\e604";
}
.sui-icon-radio-checked:before {
	content: "\e605";
}
.sui-icon-radio-unchecked:before {
	content: "\e606";
}
.sui-icon-star:before {
	content: "\e607";
}
.sui-icon-star-border:before {
	content: "\e608";
}
.sui-icon-star-half:before {
	content: "\e609";
}
.sui-icon-group:before {
	content: "\e60a";
}
.sui-icon-group-add:before {
	content: "\e60b";
}
.sui-icon-mood:before {
	content: "\e60c";
}
.sui-icon-mood-bad:before {
	content: "\e60d";
}
.sui-icon-people:before {
	content: "\e60e";
}
.sui-icon-peopl-outline:before {
	content: "\e60f";
}
.sui-icon-person:before {
	content: "\e610";
}
.sui-icon-person-add:before {
	content: "\e611";
}
.sui-icon-person-outline:before {
	content: "\e612";
}
.sui-icon-plus-one:before {
	content: "\e613";
}
.sui-icon-share:before {
	content: "\e614";
}
.sui-icon-sync:before {
	content: "\e615";
}
.sui-icon-apps:before {
	content: "\e616";
}
.sui-icon-arrow-back:before {
	content: "\e617";
}
.sui-icon-arrow-dropdown:before {
	content: "\e618";
}
.sui-icon-arrow-dropdown-circle:before {
	content: "\e619";
}
.sui-icon-arrow-dropup:before {
	content: "\e61a";
}
.sui-icon-arrow-forward:before {
	content: "\e61b";
}
.sui-icon-cancel:before {
	content: "\e61c";
}
.sui-icon-check:before {
	content: "\e61e";
}
.sui-icon-chevron-left:before {
	content: "\e620";
}
.sui-icon-chevron-right:before {
	content: "\e622";
}
.sui-icon-close:before {
	content: "\e624";
}
.sui-icon-expand-less:before {
	content: "\e626";
}
.sui-icon-expand-more:before {
	content: "\e628";
}
.sui-icon-menu:before {
	content: "\e62a";
}
.sui-icon-more-horiz:before {
	content: "\e62c";
}
.sui-icon-more-vert:before {
	content: "\e62e";
}
.sui-icon-refresh:before {
	content: "\e630";
}
.sui-icon-pindrop:before {
	content: "\e632";
}
.sui-icon-place:before {
	content: "\e633";
}
.sui-icon-adjust:before {
	content: "\e634";
}
.sui-icon-assistant-photo:before {
	content: "\e635";
}
.sui-icon-brush:before {
	content: "\e636";
}
.sui-icon-camera:before {
	content: "\e637";
}
.sui-icon-camera-alt:before {
	content: "\e638";
}
.sui-icon-control-point:before {
	content: "\e639";
}
.sui-icon-crop-din:before {
	content: "\e63a";
}
.sui-icon-crop-square:before {
	content: "\e63b";
}
.sui-icon-dehaze:before {
	content: "\e63c";
}
.sui-icon-edit:before {
	content: "\e63d";
}
.sui-icon-exposure-neg-1:before {
	content: "\e63e";
}
.sui-icon-exposure-neg-2:before {
	content: "\e63f";
}
.sui-icon-exposure-plus-1:before {
	content: "\e640";
}
.sui-icon-exposure-plus-2:before {
	content: "\e641";
}
.sui-icon-exposure-zero:before {
	content: "\e642";
}
.sui-icon-filter-1:before {
	content: "\e643";
}
.sui-icon-filter-2:before {
	content: "\e644";
}
.sui-icon-filter-3:before {
	content: "\e645";
}
.sui-icon-filter-4:before {
	content: "\e646";
}
.sui-icon-filter-5:before {
	content: "\e647";
}
.sui-icon-filter-6:before {
	content: "\e648";
}
.sui-icon-filter-7:before {
	content: "\e649";
}
.sui-icon-filter-8:before {
	content: "\e64a";
}
.sui-icon-filter-9:before {
	content: "\e64b";
}
.sui-icon-filter-drama:before {
	content: "\e64c";
}
.sui-icon-filter-tilt-shift:before {
	content: "\e64d";
}
.sui-icon-navigate-before:before {
	content: "\e64e";
}
.sui-icon-navigate-next:before {
	content: "\e64f";
}
.sui-icon-panorama-fisheye:before {
	content: "\e650";
}
.sui-icon-photo-camera:before {
	content: "\e651";
}
.sui-icon-remove-redeye:before {
	content: "\e652";
}
.sui-icon-rotate-left:before {
	content: "\e653";
}
.sui-icon-rotate-right:before {
	content: "\e654";
}
.sui-icon-wbcloudy:before {
	content: "\e655";
}
.sui-icon-computer:before {
	content: "\e656";
}
.sui-icon-desktop-mac:before {
	content: "\e657";
}
.sui-icon-desktop-windows:before {
	content: "\e658";
}
.sui-icon-dock:before {
	content: "\e659";
}
.sui-icon-keyboard-arrow-down:before {
	content: "\e65a";
}
.sui-icon-keyboard-arrow-left:before {
	content: "\e65b";
}
.sui-icon-keyboard-arrow-right:before {
	content: "\e65c";
}
.sui-icon-keyboard-arrow-up:before {
	content: "\e65d";
}
.sui-icon-keyboard-backspace:before {
	content: "\e65e";
}
.sui-icon-voice:before {
	content: "\e65f";
}
.sui-icon-phone-android:before {
	content: "\e660";
}
.sui-icon-attachment:before {
	content: "\e661";
}
.sui-icon-cloud:before {
	content: "\e662";
}
.sui-icon-cloud-circle:before {
	content: "\e663";
}
.sui-icon-cloud-done:before {
	content: "\e664";
}
.sui-icon-cloud-download:before {
	content: "\e665";
}
.sui-icon-cloud-off:before {
	content: "\e666";
}
.sui-icon-cloud-queue:before {
	content: "\e667";
}
.sui-icon-cloud-upload:before {
	content: "\e668";
}
.sui-icon-file-download:before {
	content: "\e669";
}
.sui-icon-file-upload:before {
	content: "\e66a";
}
.sui-icon-folder:before {
	content: "\e66b";
}
.sui-icon-folder-open:before {
	content: "\e66c";
}
.sui-icon-folder-shared:before {
	content: "\e66d";
}
.sui-icon-attachfile:before {
	content: "\e66e";
}
.sui-icon-bordercolor:before {
	content: "\e66f";
}
.sui-icon-modeedit:before {
	content: "\e670";
}
.sui-icon-add:before {
	content: "\e671";
}
.sui-icon-add-box:before {
	content: "\e672";
}
.sui-icon-add-circle:before {
	content: "\e673";
}
.sui-icon-add-circle-outline:before {
	content: "\e674";
}
.sui-icon-backspace:before {
	content: "\e675";
}
.sui-icon-block:before {
	content: "\e676";
}
.sui-icon-clear:before {
	content: "\e677";
}
.sui-icon-create:before {
	content: "\e678";
}
.sui-icon-flag:before {
	content: "\e679";
}
.sui-icon-forward:before {
	content: "\e67a";
}
.sui-icon-inbox:before {
	content: "\e67b";
}
.sui-icon-link:before {
	content: "\e67c";
}
.sui-icon-mail:before {
	content: "\e67d";
}
.sui-icon-redo:before {
	content: "\e67e";
}
.sui-icon-remove:before {
	content: "\e67f";
}
.sui-icon-remove-circle:before {
	content: "\e680";
}
.sui-icon-remove-circle-outline:before {
	content: "\e681";
}
.sui-icon-reply:before {
	content: "\e682";
}
.sui-icon-reply-all:before {
	content: "\e683";
}
.sui-icon-report:before {
	content: "\e684";
}
.sui-icon-save:before {
	content: "\e685";
}
.sui-icon-send:before {
	content: "\e686";
}
.sui-icon-undo:before {
	content: "\e687";
}
.sui-icon-contact-mail:before {
	content: "\e688";
}
.sui-icon-call:before {
	content: "\e689";
}
.sui-icon-call-end:before {
	content: "\e68a";
}
.sui-icon-chat:before {
	content: "\e68b";
}
.sui-icon-chat-bubble:before {
	content: "\e68c";
}
.sui-icon-chat-bubble-outline:before {
	content: "\e68d";
}
.sui-icon-comment:before {
	content: "\e68e";
}
.sui-icon-contact-phone:before {
	content: "\e68f";
}
.sui-icon-contacts:before {
	content: "\e690";
}
.sui-icon-email:before {
	content: "\e691";
}
.sui-icon-location-on:before {
	content: "\e692";
}
.sui-icon-phone:before {
	content: "\e693";
}
.sui-icon-videocam:before {
	content: "\e694";
}
.sui-icon-videocam-off:before {
	content: "\e695";
}
.sui-icon-error:before {
	content: "\e696";
}
.sui-icon-error-outline:before {
	content: "\e698";
}
.sui-icon-warning:before {
	content: "\e699";
}
.sui-icon-account-box:before {
	content: "\e69b";
}
.sui-icon-account-circle:before {
	content: "\e69c";
}
.sui-icon-add-shopping-cart:before {
	content: "\e69d";
}
.sui-icon-announcement:before {
	content: "\e69f";
}
.sui-icon-assignment:before {
	content: "\e6a0";
}
.sui-icon-assignment-ind:before {
	content: "\e6a1";
}
.sui-icon-assignment-late:before {
	content: "\e6a2";
}
.sui-icon-autorenew:before {
	content: "\e6a3";
}
.sui-icon-backup:before {
	content: "\e6a4";
}
.sui-icon-bookmark:before {
	content: "\e6a5";
}
.sui-icon-bookmark-border:before {
	content: "\e6a6";
}
.sui-icon-build:before {
	content: "\e6a7";
}
.sui-icon-cached:before {
	content: "\e6a8";
}
.sui-icon-check-circle:before {
	content: "\e6a9";
}
.sui-icon-delete:before {
	content: "\e6aa";
}
.sui-icon-description:before {
	content: "\e6ab";
}
.sui-icon-dns:before {
	content: "\e6ac";
}
.sui-icon-done:before {
	content: "\e6ad";
}
.sui-icon-favorite:before {
	content: "\e6ae";
}
.sui-icon-favorite-border:before {
	content: "\e6af";
}
.sui-icon-grade:before {
	content: "\e6b0";
}
.sui-icon-help:before {
	content: "\e6b1";
}
.sui-icon-help-outline:before {
	content: "\e6b2";
}
.sui-icon-highlight-off:before {
	content: "\e6b3";
}
.sui-icon-home:before {
	content: "\e6b4";
}
.sui-icon-http:before {
	content: "\e6b5";
}
.sui-icon-https:before {
	content: "\e6b6";
}
.sui-icon-info:before {
	content: "\e6b7";
}
.sui-icon-info-outline:before {
	content: "\e6b8";
}
.sui-icon-input:before {
	content: "\e6b9";
}
.sui-icon-invert-colors:before {
	content: "\e6ba";
}
.sui-icon-label:before {
	content: "\e6bb";
}
.sui-icon-label-outline:before {
	content: "\e6bc";
}
.sui-icon-language:before {
	content: "\e6bd";
}
.sui-icon-launch:before {
	content: "\e6be";
}
.sui-icon-list:before {
	content: "\e6bf";
}
.sui-icon-lock:before {
	content: "\e6c0";
}
.sui-icon-lock-open:before {
	content: "\e6c1";
}
.sui-icon-lock-outline:before {
	content: "\e6c2";
}
.sui-icon-loyalty:before {
	content: "\e6c3";
}
.sui-icon-note-add:before {
	content: "\e6c4";
}
.sui-icon-open-in-browser:before {
	content: "\e6c5";
}
.sui-icon-open-in-new:before {
	content: "\e6c6";
}
.sui-icon-pageview:before {
	content: "\e6c7";
}
.sui-icon-perm-contact-calendar:before {
	content: "\e6c8";
}
.sui-icon-perm-identity:before {
	content: "\e6c9";
}
.sui-icon-perm-media:before {
	content: "\e6ca";
}
.sui-icon-picture-in-picture:before {
	content: "\e6cb";
}
.sui-icon-power-settings-new:before {
	content: "\e6cc";
}
.sui-icon-print:before {
	content: "\e6cd";
}
.sui-icon-reorder:before {
	content: "\e6ce";
}
.sui-icon-report-problem:before {
	content: "\e6cf";
}
.sui-icon-room:before {
	content: "\e6d0";
}
.sui-icon-search:before {
	content: "\e6d1";
}
.sui-icon-settings:before {
	content: "\e6d2";
}
.sui-icon-settings-applications:before {
	content: "\e6d3";
}
.sui-icon-shopping-cart:before {
	content: "\e6d4";
}
.sui-icon-star-rate:before {
	content: "\e6d5";
}
.sui-icon-star-circle:before {
	content: "\e6d6";
}
.sui-icon-supervisor-account:before {
	content: "\e6d7";
}
.sui-icon-system-update-alt:before {
	content: "\e6d8";
}
.sui-icon-turned-in:before {
	content: "\e6d9";
}
.sui-icon-turned-in-not:before {
	content: "\e6da";
}
.sui-icon-visibility:before {
	content: "\e6db";
}
.sui-icon-visibility-off:before {
	content: "\e6dc";
}
.sui-icon-work:before {
	content: "\e6dd";
}
.sui-icon-zoomin:before {
	content: "\e6de";
}
.sui-icon-zoomout:before {
	content: "\e6df";
}
.sui-icon-logo .path1:before {
	content: "\e600";
	color: rgb(216, 41, 43);
}
.sui-icon-logo .path2:before {
	content: "\e601";
	margin-left: -1em;
	color: rgb(16, 124, 191);
}
