.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	background-color: #ffffff;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.sui-icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.sui-icon-chat2 {
	width: 1.125em;
}

.sui-icon-users {
	width: 1.125em;
}

.sui-icon-person-add {
	width: 0.96875em;
}

#sui-icon-logo .path1 {
	fill: #d8292b;
}
#sui-icon-logo .path2 {
	fill: #107cbf;
}
